<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<!--<![endif]-->
<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title></title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<h:outputStylesheet name="css/bootstrap.min.css" />
	<style>
body {
	padding-top: 50px;
	padding-bottom: 20px;
}
</style>
	<h:outputStylesheet name="css/bootstrap-theme.min.css" />
	<h:outputStylesheet name="css/main.css" />


	<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</h:head>
<h:body>
	<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.jsf">ГАЗЕТА ДЕСНА</a>
			</div>
			<div class="navbar-collapse collapse"><!--
				
					<div class="form-group">
						<h:inputText id="username" value="#{userController.name}"
							class="form-control"
							rendered="#{userController.loggedIn == false}" />
					</div>
					<div class="form-group">
						<h:inputSecret id="password" value="#{userController.password}"
							class="form-control"
							rendered="#{userController.loggedIn == false}" />
					</div>--><h:form id="reg-header" class="navbar-form navbar-right">
					<h:button outcome="login.jsf" value="Войти" class="btn btn-success" rendered="#{userController.loggedIn == false}">Войти</h:button>

					<h:commandButton action="#{userController.logout}" value="Выйти"
						rendered="#{userController.loggedIn}" class="btn btn-success" />
				</h:form>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</div>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
		
			
			<p:tabMenu activeIndex="#{param.i}">
    <p:menuitem value="Главная" outcome="index" icon="ui-icon-star">
        <f:param name="i" value="0" />
    </p:menuitem>
    <p:menuitem value="Войти" outcome="login" icon="ui-icon-search">
        <f:param name="i" value="1" />
    </p:menuitem>
</p:tabMenu>
		<ui:insert name="content">
                    [Template content will be inserted here]
         </ui:insert>
		</div>
	</div>



	<hr />

	<footer>
		<p>Company 2014</p>
	</footer>
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!--     <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>-->

	<script src="js/vendor/bootstrap.min.js"></script>

	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
</h:body>
</html>
