<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Site</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="webjars/font-awesome/4.2.0/css/font-awesome.css" />
	<style>
.panelNoBorder, .panelNoBorder tr, .panelNoBorder td {
	border: hidden;
	border-color: white;
	
}
.ui-icon.fa {
    text-indent:0px
}
</style>
</h:head>
<h:body>
	<p style="text-align: center">
		<noscript><b>Для работы сайта необходимо включить JavaScript!</b></noscript>
	</p>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" resizable="false"
			style="height:50px; min-height:50px">
			<p:panelGrid columns="1" styleClass="panelNoBorder"
				style="width:100%;height:100%;">
				<h1>ГАЗЕТА ДЕСНА</h1>
			</p:panelGrid>
		</p:layoutUnit>
		<p:layoutUnit position="west" resizable="false"
			style="width:280px; min-width:280px">
			<h:form id="menu">
			<p:menu style="width:auto">
				<p:submenu label="Главное меню">
					<p:menuitem value="Главная" outcome="index" icon="fa fa-home" />
					<p:menuitem value="Войти" actionListener="#{loginView.showLogin}" icon="fa fa-edit" />
					<p:menuitem value="Зарегистрироваться" outcome="signup"
						icon="ui-icon-star" />
				</p:submenu>
			</p:menu>
			</h:form>
		</p:layoutUnit>

		<p:layoutUnit position="center">

			<ui:insert name="content">
                    [Template content will be inserted here]
         </ui:insert>
		</p:layoutUnit>
		<p:layoutUnit position="south">
		<span style="text-aligh:right">Copyright © 2014</span>
    </p:layoutUnit>
	</p:layout>
</h:body>
</html>