<?xml version="1.0" encoding="UTF-8"?>
<!--
    JBoss, Home of Professional Open Source
    Copyright 2013, Red Hat, Inc. and/or its affiliates, and individual
    contributors by the @authors tag. See the copyright.txt in the
    distribution for a full listing of individual contributors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/mainLayout.html">
	
	 <ui:define name="sideBar">
    <ui:include src="sidemenu.xhtml"/>
  </ui:define>
 
	<ui:define name="content">
		<h1>Index Page</h1>
        
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo mi, malesuada in odio at, venenatis tempor risus. Morbi vitae eros porta, bibendum metus eget, auctor ex. Duis nec rhoncus odio, feugiat fringilla dolor. Sed ligula tortor, maximus in sem vel, laoreet iaculis tortor. Aliquam at augue a dolor aliquam euismod. Phasellus dignissim, lectus et placerat maximus, ex mi sodales nisl, nec porttitor nisl metus sed arcu. Maecenas rutrum eleifend sodales. Etiam egestas gravida ante ut interdum. Nullam ac neque urna. Nunc molestie eu lacus sed euismod. Phasellus interdum mi sapien, vitae mollis dolor tincidunt ac. Donec blandit quam ac enim lobortis faucibus. Curabitur finibus leo quis aliquam pellentesque.

In molestie euismod enim et tincidunt. Maecenas sed euismod felis. Vivamus rutrum, justo vel laoreet vehicula, neque leo pellentesque urna, sit amet commodo erat diam at nulla. Ut a molestie orci, ut blandit libero. Donec ultrices mi eu mauris blandit, id imperdiet ligula iaculis. Sed interdum ac lectus vel varius. Aliquam ac nisi vel ipsum cursus maximus. Maecenas ligula arcu, accumsan eu mollis vel, cursus at massa. Cras eleifend nisl sed sem pharetra porta.

Curabitur consectetur justo eu tortor convallis, sed venenatis augue feugiat. In hac habitasse platea dictumst. Fusce in sodales est, elementum tempus risus. Sed maximus pretium justo a hendrerit. Etiam scelerisque diam ac erat dapibus tristique. Fusce consectetur dui sed urna aliquet, eu auctor ante condimentum. Pellentesque egestas leo id molestie iaculis. Phasellus accumsan lacinia bibendum. Nulla ante nisl, malesuada non vestibulum at, finibus eu ipsum. Donec sed aliquam odio, a facilisis enim. Ut sagittis arcu nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus sapien urna, cursus interdum nibh non, pulvinar fermentum magna.

Nullam efficitur velit egestas tellus aliquam finibus. Nam tempor cursus congue. Vestibulum accumsan hendrerit lorem quis iaculis. Nam in elit congue, pulvinar turpis nec, viverra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris a lobortis odio. Quisque lacus magna, fringilla id laoreet vitae, dictum eu felis. Mauris dignissim justo vitae urna porta ullamcorper. Sed eleifend lacus ac magna viverra, a vulputate ex iaculis. Integer pretium arcu sed orci rhoncus viverra.

Aliquam erat volutpat. Proin imperdiet risus nunc, quis mattis elit elementum non. Proin et leo gravida risus efficitur sollicitudin et malesuada tellus. Cras urna eros, commodo varius vestibulum at, mattis sed nibh. Duis vel ornare nibh. Praesent finibus mi pulvinar, sollicitudin arcu nec, fermentum ante. Aenean at quam vel justo vehicula pellentesque. Sed in mi nec dolor efficitur elementum. Suspendisse pulvinar scelerisque nunc, eu molestie tortor rutrum eu.

Donec aliquet ultricies congue. Pellentesque non velit at nulla scelerisque tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse et odio non arcu eleifend pellentesque. Aliquam id pretium tortor. Nulla leo ex, bibendum ac vestibulum vel, ultrices quis massa. Sed a mattis orci, eget consequat ante. Vivamus luctus leo sit amet consectetur posuere. Suspendisse finibus efficitur nisl, a dictum eros pretium id. Suspendisse eget ligula tincidunt, viverra enim sed, sollicitudin mi.

Vestibulum risus orci, pellentesque at nibh imperdiet, venenatis fermentum arcu. Maecenas sed dui placerat, dignissim risus ut, molestie elit. Aenean mattis nibh ut nunc imperdiet, sollicitudin volutpat magna lobortis. Vivamus aliquet dictum risus, quis sodales nisi iaculis in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dictum, felis eget efficitur molestie, velit felis rhoncus mi, et efficitur eros tellus ut leo. Mauris eget hendrerit lacus, vitae imperdiet lectus. Fusce condimentum, mauris accumsan finibus facilisis, massa odio gravida est, id volutpat libero nibh et urna.

Maecenas rutrum nibh sit amet dolor rhoncus, vitae aliquet nulla tincidunt. Vivamus sit amet nunc massa. Pellentesque interdum purus non erat porttitor ultricies id sit amet lacus. Nulla semper arcu arcu, id pretium lacus commodo sit amet. Mauris quis vehicula ante. Fusce varius non augue vel semper. Etiam iaculis venenatis nulla, ut venenatis mi pretium vel. Phasellus et odio pretium, hendrerit nisi quis, ornare nulla. Morbi euismod fringilla ipsum, fringilla aliquam mi ullamcorper non. In tempor magna ut enim efficitur, pharetra feugiat quam porttitor. Phasellus lacinia interdum dolor, et malesuada libero bibendum ut.

Quisque cursus lacus tortor, eget aliquet purus pellentesque sit amet. Phasellus convallis placerat urna eu lacinia. Integer consequat, est volutpat auctor convallis, neque neque mattis erat, placerat iaculis velit felis ac dui. Ut nec neque sapien. Pellentesque ut justo eget enim elementum rhoncus. Suspendisse porta nulla vestibulum, suscipit tellus in, mattis justo. Quisque dignissim et mauris in consequat. Sed elit mi, tincidunt id laoreet vitae, egestas vitae massa. Etiam nec faucibus nibh. Sed suscipit sapien dui, sit amet consectetur enim mollis id.

Ut aliquam maximus quam eu egestas. Nulla ac gravida tortor, quis sagittis orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque feugiat sapien id mauris auctor egestas. Praesent eleifend sapien augue, eget molestie turpis tincidunt vel. Maecenas egestas massa neque, in varius nisl porta eu. Aliquam id gravida risus. Integer non leo vitae tellus consectetur mollis in sit amet nulla. 

        
    </ui:define>
</ui:composition>