<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    
	<h:head>
		<title>Войти</title>
	</h:head> 
    <h:body>
		<h:form id="reg">
            <h2>Войти в систему</h2>
            <p:messages id="messages" showDetail="true" autoUpdate="true" />
            <h:panelGrid columns="3" columnClasses="titleCell" style=" width : 373px;">
                <h:outputLabel for="username" value="Имя пользователя (логин):" rendered="#{userController.loggedIn == false}" />
                <p:inputText id="username" value="#{userController.name}" restyle=" width : 143px;" rendered="#{userController.loggedIn == false}" />
                <h:message id="null" for="username" errorClass="invalid" />

                <h:outputLabel for="password" value="Пароль:" rendered="#{userController.loggedIn == false}" />
                <p:password id="password" value="#{userController.password}" style=" width : 143px;" rendered="#{userController.loggedIn == false}"/>
                <h:message id="null2" for="password" errorClass="invalid" />
            </h:panelGrid>

            <p>
                <h:panelGrid columns="2">
                    <p:commandButton id="register"
                        action="#{userController.login}"
                        ajax="false"
                        value="Войти" styleClass="login" rendered="#{userController.loggedIn == false}"
                         />
                    <p:commandButton actionListener="#{userController.logout}" value="Выйти" ajax="false"
                    	rendered="#{userController.loggedIn}"/>
                     
                </h:panelGrid>
            </p>
        </h:form>

        
    </h:body>
</html>