<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      template="/WEB-INF/templates/mainLayout.html"> 

<h:head></h:head> 

 
<ui:define name="content">
	<h:form id="register" style="width:985px; margin:0 auto">
	<p:messages id="messages" showDetail="false" autoUpdate="true"/>
		<p:panelGrid columns="3" styleClass="panelNoBorder">
			<h:outputLabel value="Имя пользователя" for="regName" />
			<p:inputText id="regName" value="Login" required="true" label="Имя пользователя" />
			<p:message for="regName" />
			
			<h:outputLabel value="Пароль" for="regPass1" />
			<p:password id="regPass1" label="Пароль" match="regPass2" required="true" value="Login" feedback="true" weakLabel="Слабый пароль"
                    goodLabel="Хороший пароль" strongLabel="Сильный пароль" promptLabel="Введите пароль" maxlength="60"/>
			<p:message for="regPass1" />
			
			<h:outputLabel value="Введите пароль снова" for="regPass2" />
			<p:password id="regPass2" label="Введите пароль снова" value="Login" required="true" />
			<p:message for="regPass2" />
			
			<p:captcha label="Капча" />
		</p:panelGrid>
		<p:commandButton value="Зарегистрировать" icon="ui-icon-check"/>
	</h:form>
</ui:define>
</ui:composition>
